$desc-color: rgb(219, 219, 219);
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-family: arial, sans-serif;
}

.title {
    font-size: 2rem;
    font-family: arial, sans-serif;
    font-weight: 700;
}

.main {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 100px;
    background-color: #1B3738;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        width: 50%;
        height: auto;
        margin-top: 0px;
        padding: 20px;
    }
    &__content-title {
        color: #fff;
        font-size: 2rem;
    }
    &__content-text {
        margin-top: 40px;
        color: $desc-color;
        line-height: 120%;
    }
}

.about {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    
    &__title {
        margin-bottom: 50px;
    }
    &__cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    &__link {
        color: #0084FF;
        text-decoration: none;
        font-weight: 700;
        font-family: arial, sans-serif;
        border: 1px solid #0084FF;
        padding: 15px 80px;
        border-radius: 5px;
        display: block;
        position: absolute;
        margin-bottom: 15px;
        bottom: 0;
    }
    &__item {
        max-width: 300px;
        min-width: 250px;
        background-color: rgb(240, 240, 240);
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 30px;
        text-align: center;
        position: relative;

        &-avatar {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
        }
        .about__avatar-img {
            width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
        &-title {
            margin-top: 30px;
            font-family: arial, sans-serif;
            font-weight: 700;
        }
        &-desc {
            margin-top: 100px;
            font-family: arial, sans-serif;
            line-height: 120%;
            margin-bottom: 50px;
        }
    }
    
}

.partners {
    text-align: center;
    &__title {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .main__content {
        width: 100%;
    }
}